<ion-view view-title="{{heading}}">
        <ion-content scroll="false">
          	<tab-slide-box tab="0">
			    	<div class="tsb-icons bar bar-subheader sub_head">
			    		<div class="tsb-ic-wrp">
							<ion-scroll direction="x" class="tsb-hscroll wide-as-needed">
							<a href="javascript:;" class="button" ng-click="active_tab=1" ng-class="{'color_tab':active_tab==1}">News</a>
							<a href="javascript:;" class="button" ng-click="active_tab=2" ng-class="{'color_tab':active_tab==2}">Ideas</a>
							<a href="javascript:;" class="button" ng-click="active_tab=3" ng-class="{'color_tab':active_tab==3}">Research</a>
							</ion-scroll>
						</div>
			    	</div>
			        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
			            <ion-slide>
                    <ion-content class="has-subheader list_page">
                     <div class="news_list" collection-repeat="item in items"
                     collection-item-width="'100%'"
                     collection-item-height="115" style="border-bottom: 1px solid #ddd; padding: 10px;">

                          <div class="row">
                            <div class="col col-33">
                            <a href="#/news/channel/{{item.finly_channel_id}}" style="border-bottom: 0px solid #ddd; padding: 0px;">
                          <img width="100%" src="https://s3.ap-south-1.amazonaws.com/finlypro/logos/logo{{item.finly_channel_id}}.{{item.finly_channel_logo_ext}}">
                          </a>
                        </div>
                          <div class="col col-67">
                            <h3>{{item.finly_channel_name}}</h3>
                            <p ng-bind-html="item.finly_channel_description | cut:true:70:' ...'">

                             </p>
                             <span class="like_icon"  ng-click="likechannel(item.finly_channel_id)" ng-class="{'animated zoomIn color_like':active_like==true}">
                                 <i class="ion-ios-star"></i>
                             </span>
                          </div>
                          </div>

                      </div>
                  </ion-content>
			            </ion-slide>
			            <ion-slide>
			                <img src="img/comingsoon.gif" width="80%" style="margin-left:40px; margin-top:20%;"/>
			            </ion-slide>
			            <ion-slide>
			                <img src="img/comingsoon.gif" width="80%" style="margin-left:40px; margin-top:20%;"/>
			            </ion-slide>
			        </ion-slide-box>
          	</tab-slide-box>
        </ion-content>
      </ion-view>
